
rules_version = '2';

function isAdmin() {
  return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.isAdmin == true;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      allow read: if true;
      allow write: if false;
    }

    match /products/{productId}/reviews/{reviewId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /userProfiles/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /userProfiles/{userId}/orders/{orderId} {
      // Admins can list any order, users can list their own.
      allow list: if isAdmin() || (request.auth != null && request.auth.uid == userId);
      // Users can read and create their own orders. Admins can read any order.
      allow read, create: if (request.auth != null && request.auth.uid == userId) || isAdmin();
      // Admins can update any order. Users can update their own order only to set the paymentStatus to 'processing'.
      allow update: if isAdmin() || (request.auth != null && request.auth.uid == userId && request.resource.data.paymentStatus == 'processing');
    }
  }
}
