
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // WARNING: These rules are overly permissive and are intended for development purposes only.
    // They allow any authenticated user to read and write to any document in the database.
    // For a production environment, you should implement more restrictive rules.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    // While the rule above covers these, keeping more specific (but still open) rules can be useful for later.
    // match /products/{productId} {
    //   allow read, write: if request.auth != null; 
    // }
    
    // match /products/{productId}/reviews/{reviewId} {
    //   allow read, write: if request.auth != null;
    // }

    // match /userProfiles/{userId} {
    //   allow read, write: if request.auth != null;
    // }
    
    // match /userProfiles/{userId}/favorites/{docId} {
    //    allow read, write: if request.auth != null;
    // }

    // match /orders/{orderId} {
    //   allow read, write: if request.auth != null;
    // }
  }
}
